.gustav {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 60px;
}

#border {
    border: 5px solid black;
    border-radius: 20px;
    
}

button {
    border: 5px solid;
    border-radius: 10px;
    background-color: white;
}

button:hover {
    background-color: #DDDDDD;
}